fastapi
uvicorn[standard]
python-dotenv
sqlalchemy>=2.0
psycopg2-binary
python-multipart
docling
langchain
langchain-google-genai
sentence-transformers
qdrant-client
requests
PyPDF2
google-api-core
tenacity